* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  justify-content: center;
  padding: 2rem 1.5rem;
}

.app-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #3b3be0;
}

.dropdown {
  margin-top: 2rem;
  width: 100%;
}
